html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1e1e1e;
  color: #F5F5F5;
}

.title {
  font-size: 90px;
  text-align: center;
  text-shadow: 0px 0px 20px #5e5e5e;
}

.subTitle {
  font-size: 60px;
  text-align: center;
  text-shadow: 0px 0px 20px #5e5e5e;
}

.profSummary {
  background-color: rgb(0, 0, 50);
  margin: auto;
  border: solid 4px #F5F5F5;
  border-radius: 5px;
  width: 70%;
  font-size: 30px;
  padding: 30px;
  box-shadow: 0px 0px 15px #F5F5F5;
  text-shadow: 0px 0px 1px #F5F5F5;
  word-spacing: 1px;
  line-height: 1.4;
}

.degSummary {
  background-color: rgb(0, 50, 0);
  margin: auto;
  border: solid 4px #F5F5F5;
  border-radius: 5px;
  width: 70%;
  font-size: 30px;
  padding: 30px;
  box-shadow: 0px 0px 15px #F5F5F5;
  text-shadow: 0px 0px 1px #F5F5F5;
  word-spacing: 1px;
  line-height: 1.2;
}

.projectShowcase {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 70%;
}

.projects {
  flex-direction: row;
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #F5F5F5;
  text-shadow: 0px 0px 1px #F5F5F5;
  word-spacing: 1px;
  line-height: 1.4;
}

#lsm, #occf, #codmrandom {
  width: 400px;
  height: 400px;
  transition: 0.3s;
}

/* Hover for boxes */
#lsm:hover, #occf:hover, #codmrandom:hover {
  width: 385px;
  height: 385px;
  box-shadow: 0px 0px 0px #F5F5F5;
  transition: 0.4s;
}

.projContainer {
  flex: 1 1 400px;
  max-width: 400px;
  text-align: center;
  text-shadow: 0px 0px 10px #F5F5F5;
  transition: 0.3s;
}

.projContainer:hover {
  text-shadow: 0px 0px 1px #F5F5F5;
  transition: 0.4s;
}

.subBoxText {
  font-size: 40px;
}